{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Main</title>
	<meta charset="utf=8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	{% bootstrap_css %}
	<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&family=Gugi&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
	<link rel="stylesheet" href="{% static 'css/pushy.css' %}">
	<link rel="stylesheet" href="{% static 'css/geral.css' %}">
</head>
<body>
	<header class="site-header fixed-top push mb-5 shadow">
		<div class="row">
			<div class="col-2"><button class="menu-btn">&#9776;</button></div>
			<div class="col-10"><h1 class="logo text-right mr-3 mt-3 p-0">Jump</h1></div>
		</div>
	</header>
	
    <!-- Pushy Menu -->
    <nav class="pushy pushy-left" data-focus="#first-link">
        <div class="pushy-content">
            <ul>
                <li class="pushy-link"><a href="#">Dashbord</a></li>
                <li class="pushy-link"><a href="#">Categorias</a></li>
                <li class="pushy-link"><a href="#">Registros</a></li>
                <li class="pushy-link"><a href="#">Sair</a></li>
            </ul>
        </div>
    </nav>
    
    <form class="container mx-auto my-3 p-0 selecao-mes">
        <div class="form-group">
            <label>Mês:</label>
            <select class="form-control">
                <option value="">Jan/2020</option>
                <option value="">Fev/2020</option>
                <option value="">Mar/2020</option>
                <option value="">Abr/2020</option>
                <option value="">Mai/2020</option>
                <option value="">Jun/2020</option>
                <option value="">Jul/2020</option>
                <option value="">Ago/2020</option>
            </select>
        </div>
    </form>
	
	{% block content %}


	{% endblock %}
	


{% bootstrap_javascript jquery="full" %}
<script src="{% static 'js/pushy.min.js' %}"></script>
</body>
</html>
