{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Main</title>
	<meta charset="utf=8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	{% bootstrap_css %}
	<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/pushy.css' %}">
	<link rel="stylesheet" href="{% static 'css/geral.css' %}">
</head>
<body>
	<header class="site-header push fixed-top">
		<div class="row">
			<div class="col-2"><button class="menu-btn">&#9776; Menu</button></div>
			<div class="col-10"><h1>Jump</h1></div>
		</div>
	</header>
	
    <!-- Pushy Menu -->
    <nav class="pushy pushy-left" data-focus="#first-link">
        <div class="pushy-content">
            <ul>
                <li class="pushy-link"><a href="#">Dashbord</a></li>
                <li class="pushy-link"><a href="#">Categorias</a></li>
                <li class="pushy-link"><a href="#">Registros</a></li>
                <li class="pushy-link"><a href="#">Créditos</a></li>
            </ul>
        </div>
    </nav>
    
    <form class="mt-5 container">
        <div class="form-group w-80">
            <label>Mês:</label>
            <select class="form-control select-mes">
                <option value="">Jan/2020</option>
                <option value="">Fev/2020</option>
                <option value="">Mar/2020</option>
                <option value="">Abr/2020</option>
                <option value="">Mai/2020</option>
                <option value="">Jun/2020</option>
                <option value="">Jul/2020</option>
                <option value="">Ago/2020</option>
            </select>
        </div>
    </form>
	
	{% block content %}


	{% endblock %}
	

{% bootstrap_javascript jquery="full" %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'js/painel-secundario.js' %}"></script>
<script src="{% static 'js/painel-terciario.js' %}"></script>
<script src="{% static 'js/pushy.min.js' %}"></script>
</body>
</html>
