{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="card painel-principal">
	<div class="row">
		<div class="col-12">
			<small>Saldo</small>
			<h2 class="m-1">R$ 2.000,00</h2>
		</div>
		<div class="col-12">
			<div class="row mt-3">
				<div class="col-6">
					<small>Receitas</small>
					<p class="mt-1 receitas">R$ 3.075,00</p>
				</div>
				<div class="col-6">
					<small>Despesas</small>
					<p class="mt-1 despesas">R$ 1.075,00</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="painel-secundario">
    <div id="donutchart" class=""></div>
</div>

<div class="painel-terciario">
    <div id="chart_div" class=""></div>
</div>

{% endblock %}