{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="card painel-principal">
	<div class="row">
		<div class="col-12">
			<small>Saldo</small>
			<h2 class="m-1">R$ 2.071,00</h2>
		</div>
		<div class="col-12">
			<div class="row mt-3">
				<div class="col-6">
					<small>Receitas</small>
					<p class="mt-1">R$ 1.075,00</p>
				</div>
				<div class="col-6">
					<small>Despesas</small>
					<p class="mt-1">R$ 1.075,00</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card painel-secundario">
	<div class="row">
		<div class="col-6 p-0 text-center">
			<img src="https://image.flaticon.com/icons/svg/1170/1170601.svg" width="150" class="ml-2 py-2">
		</div>
		<div class="col-6">
			<ul>
				<li>Alimentação</li>
				<li>Transporte</li>
				<li>Saúde</li>
				<li>Educação</li>
				<li>Vestuário</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}