body {
	padding-top: 70px;
	font-family: Roboto;
	background-color: #dedfdc;
}

.logo {
	font-family: Lobster;
	color: #ffc107;
}

.painel-principal {
	color: white;
	background-color: #015a6b;
	font-family: 'Gugi', cursive;
	letter-spacing: 1px;
}

.saldo {
	color: #ffc107;
	font-weight: bold;
	font-size: 36px;
	text-shadow: 1px 1px black;
}

.total_receitas {
	color: #348a5d;
	font-weight: bold;
	text-shadow: 1px 1px black;
}

.total_despesas {
	color: #ad2c34;
	font-weight: bold;
	text-shadow: 1px 1px black;
}

.table tbody {
	color: white;
}

.RECEITAS {
	background-color: #348a5d;
}

.DESPESAS {
	background-color: #ad2c34;
}


@media screen and (max-width: 680px) {
	.painel-principal, .selecao-mes {
		width: 300px;
	}
	
	table {
		font-size: 10px;
	}
}

@media screen and (min-width: 681px) {
	.painel-principal, .selecao-mes {
		width: 500px;
	}
}